.navbar {
    color: white;
    background: #121212;
    width: auto;
    height: calc(100vh - 20px);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.logo {
    width: 35px;
    height: 35px;
    background-color: tomato;
    border-radius: 50%;
}

.navLinks {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    margin-top: 15px;
}

.navLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px 0;
    
    & span {
        color: #838383;
        font-size: 14px;
    }

    & svg {
        fill: #838383;
    }

    &:hover > * {
        color: orange;
        fill: orange;    
        transition: .3s;
    }
}

.navLink_active {
    & span {
        color: #fff;
    }

    & svg {
        fill: #fff;
    }
}

@media(max-width: 768px) {
    .navbar {
        width: calc(100% - 20px);
        height: 40px;
        min-height: auto;
        flex-direction: row;
        padding: 10px;
        z-index: 1;
    }

    .navLinks {
        flex-direction: row;
        gap: 10px;
        margin-top: 0;
    }
}