@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    color: #fff;
}

body {
    background: #181818;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.sectionTitle {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

@media(max-width: 425px) {
    .sectionTitle {
        font-size: 24px;
        padding: 5px;
        margin-bottom: 10px;
    }
}